
.d1{
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.d1:hover{
    color: orangered;
}
#d2:hover{
    background-color: rgb(211, 167, 87);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
#d2{
    color: white;
    background-color: green;
}
#d3{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
